html {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), hsa(280, 100%, 45%, 1));
  min-height: 100vh;
  min-width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1094%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient1095)'%3e%3c/rect%3e%3cg transform='translate(0%2c 0)' stroke-linecap='round'%3e%3cpath d='M267 272.75 L267 437.75' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M267 462.5 L267 807.25' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M289 392.38 L289 606.88' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M289 631.63 L289 687.63' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M311 482.47 L311 597.53' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M333 367.48 L333 598.48' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M333 623.23 L333 639.73' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M333 664.48 L333 712.52' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M355 200.29 L355 728.29' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M355 753.04 L355 835.54' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M355 860.29 L355 879.71' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M377 171.13 L377 253.63' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M377 278.38 L377 575.38' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M377 600.13 L377 908.88' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M399 456.53 L399 473.03' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M399 497.78 L399 530.78' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M399 555.53 L399 623.47' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M421 394.37 L421 608.87' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M421 633.62 L421 685.63' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M443 379.58 L443 700.42' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M465 480.67 L465 513.6700000000001' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M465 538.4200000000001 L465 599.34' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M487 241.63 L487 703.63' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M487 728.38 L487 744.88' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M487 769.63 L487 838.37' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M509 221.55 L509 452.55' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M509 477.3 L509 858.45' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M531 364.19 L531 413.69' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M531 438.44 L531 636.44' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M531 661.19 L531 715.82' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M553 204.16 L553 567.16' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M553 591.91 L553 875.84' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M575 357.35 L575 406.85' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M575 431.6 L575 547.1' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M575 571.85 L575 722.65' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M597 310.48 L597 607.48' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M597 632.23 L597 769.52' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M619 421.17 L619 520.1700000000001' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M619 544.9200000000001 L619 561.4200000000001' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M619 586.1700000000001 L619 658.83' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M641 475.57 L641 492.07' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M641 516.8199999999999 L641 549.8199999999999' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M641 574.5699999999999 L641 604.43' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M663 245.81 L663 724.31' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M663 749.06 L663 782.06' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M663 806.81 L663 834.19' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M685 465.17 L685 481.67' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M685 506.42 L685 572.4200000000001' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M685 597.1700000000001 L685 614.84' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M707 245.77 L707 295.27' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M707 320.02 L707 834.23' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M729 505.93 L729 522.4300000000001' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M729 547.1800000000001 L729 574.07' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M751 446.8 L751 463.3' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M751 488.05 L751 633.2' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M773 228.23 L773 607.73' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M773 632.48 L773 747.98' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M773 772.73 L773 851.77' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M795 405.04 L795 537.04' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M795 561.79 L795 627.79' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M795 652.54 L795 674.96' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M817 252.08 L817 433.58000000000004' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M817 458.33000000000004 L817 827.91' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M839 273.43 L839 669.4300000000001' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M839 694.1800000000001 L839 710.6800000000001' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M839 735.4300000000001 L839 806.58' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M861 251.24 L861 828.76' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M883 208.31 L883 521.81' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M883 546.56 L883 871.68' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M905 357.39 L905 670.89' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M905 695.64 L905 722.61' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M927 192.88 L927 539.38' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M927 564.13 L927 887.13' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M949 228.74 L949 443.24' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M949 467.99 L949 748.49' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M949 773.24 L949 851.26' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M971 225.73 L971 506.23' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M971 530.98 L971 728.98' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M971 753.73 L971 854.27' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M993 244.01 L993 835.99' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1015 416.06 L1015 465.56' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1015 490.31 L1015 556.31' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1015 581.06 L1015 663.93' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1037 397.37 L1037 446.87' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1037 471.62 L1037 620.12' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1037 644.87 L1037 682.63' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1059 248.3 L1059 297.8' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1059 322.55 L1059 372.05' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1059 396.8 L1059 831.7' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1081 359.63 L1081 508.13' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1081 532.88 L1081 631.88' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1081 656.63 L1081 720.37' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1103 204.44 L1103 534.44' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1103 559.19 L1103 875.56' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1125 435.06 L1125 517.56' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1125 542.31 L1125 575.31' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1125 600.06 L1125 644.94' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1147 483.06 L1147 499.56' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1147 524.31 L1147 596.93' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1169 152.87 L1169 499.37' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1169 524.12 L1169 927.13' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1191 382.93 L1191 697.07' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1213 261.9 L1213 690.9' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1213 715.65 L1213 748.65' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1213 773.4 L1213 818.1' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1235 210.2 L1235 869.8' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1257 372.81 L1257 707.19' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1279 349.38 L1279 646.38' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1279 671.13 L1279 687.63' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1279 712.38 L1279 730.62' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1301 325.66 L1301 523.6600000000001' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1301 548.4100000000001 L1301 754.34' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1323 340.53 L1323 505.53' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1323 530.28 L1323 612.78' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1323 637.53 L1323 739.47' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1345 372.52 L1345 504.52' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1345 529.27 L1345 707.48' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1367 271.59 L1367 321.09' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1367 345.84 L1367 543.8399999999999' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1367 568.5899999999999 L1367 808.41' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1389 269.2 L1389 810.8' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1411 365.16 L1411 714.84' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1433 451.07 L1433 467.57' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1433 492.32 L1433 525.3199999999999' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1433 550.0699999999999 L1433 628.93' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1455 267.07 L1455 812.92' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1477 324.07 L1477 755.93' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1499 362.18 L1499 510.68' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1499 535.4300000000001 L1499 717.83' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1521 327.12 L1521 393.12' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1521 417.87 L1521 500.37' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1521 525.12 L1521 752.88' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1543 157.4 L1543 470.9' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1543 495.65 L1543 922.6' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1565 151.05 L1565 332.55' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1565 357.3 L1565 928.95' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1587 241.56 L1587 423.06' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1587 447.81 L1587 838.44' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1609 177.65 L1609 491.15' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1609 515.9 L1609 697.4' stroke-width='16.5' stroke='rgba(187%2c 15%2c 143%2c 0.87)'%3e%3c/path%3e%3cpath d='M1609 722.15 L1609 902.35' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1631 478.12 L1631 601.88' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1653 421.93 L1653 471.43' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3cpath d='M1653 496.18 L1653 658.07' stroke-width='16.5' stroke='rgba(1%2c 98%2c 233%2c 0.8)'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1094'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='89.06%25' y1='119.44%25' x2='10.94%25' y2='-19.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1095'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 0.9)' offset='0.94'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font: 100% Helvetica, sans-serif;
  color: #333;
}

body::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

p {
  color: red;
}

.main-header h1 {
  background: linear-gradient(90deg, rgba(255, 166, 0, 0.9), #ff00f2);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  transform: rotate(-10deg) skewX(-25deg);
}

#drum-machine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#drum-machine .display-container {
  width: 100%;
  min-height: 4rem;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0 0 1rem 1rem;
  text-align: center;
}
#drum-machine .display-container #display {
  padding: 1rem;
  font-size: 1.5rem;
  background: linear-gradient(90deg, rgba(255, 166, 0, 0.9), #ff00f2);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.drum-pad-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: radial-gradient(at bottom, rgba(255, 166, 0, 0.9) 25%, rgba(1, 98, 233, 0.8) 50%, transparent 80%);
  padding: 2rem;
  border-radius: 1rem 1rem 0 0;
}
.drum-pad-container .drum-pad {
  position: relative;
  width: 2rem;
  margin: 0.2rem;
  padding: 1.5rem 1.8rem;
  border: 3px solid transparent;
  border-radius: 50%;
  background: grey;
  text-align: center;
  font-size: 2rem;
  transition: transform 0.15s ease-out, border 0.15s ease-in-out;
}
.drum-pad-container .drum-pad:hover, .drum-pad-container .drum-pad:focus {
  cursor: pointer;
  border: 3px solid red;
}
.drum-pad-container .clip {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 2rem;
  height: 100%;
}

#open-hi-hat,
#crash-cymbal {
  background: radial-gradient(circle at center, #e6c300 40%, white);
}

#high-tom,
#medium-tom,
#low-tom {
  border: 3px solid silver;
  background: radial-gradient(circle at center, white 50%, silver);
}
#high-tom:hover,
#medium-tom:hover,
#low-tom:hover {
  border: 3px solid red;
}

#low-snare,
#high-snare {
  border: 3px solid black;
  background: radial-gradient(circle at center, white 60%, black);
}
#low-snare:hover,
#high-snare:hover {
  border: 3px solid red;
}

#kick-drum,
#bass-drum {
  border: 3px solid sienna;
  color: white;
  background: radial-gradient(circle at center, black 60%, white 75%);
}
#kick-drum:hover,
#bass-drum:hover {
  border: 3px solid red;
}

.active-drumhead {
  transform: scale(0.92);
  border: 3px solid red;
  animation: drumhead-animation 0.2s ease-in-out;
}

@keyframes drumhead-animation {
  10% {
    transform: scale(1.08);
    border: 3px solid red;
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.92);
  }
  50% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.08);
    border: 3px solid red;
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(0.92);
  }
  100% {
    transform: scale(1);
  }
}