body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 100% Helvetica, sans-serif;
  color: #333;
}

p {
  color: red;
}

#drum-machine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#drum-machine #display {
  padding: 1rem;
  font-size: 1.5rem;
}

.drum-pad-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 20rem;
}
.drum-pad-container .drum-pad {
  position: relative;
  width: 2rem;
  margin: 0.2rem;
  padding: 1.5rem 1.8rem;
  border: 3px solid transparent;
  border-radius: 50%;
  background: grey;
  text-align: center;
  font-size: 2rem;
  transition: transform 0.15s ease-out, border 0.15s ease-in-out;
}
.drum-pad-container .drum-pad:hover, .drum-pad-container .drum-pad:focus {
  cursor: pointer;
  transform: scale(1.08);
  border: 3px solid red;
}
.drum-pad-container .clip {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 2rem;
  height: 100%;
}

#open-hi-hat,
#crash-cymbal {
  background: radial-gradient(circle at center, #e6c300 40%, white);
}

#high-tom,
#medium-tom,
#low-tom {
  border: 3px solid silver;
  background: radial-gradient(circle at center, white 50%, silver);
}
#high-tom:hover,
#medium-tom:hover,
#low-tom:hover {
  border: 3px solid red;
}

#low-snare,
#high-snare {
  border: 3px solid black;
  background: radial-gradient(circle at center, white 60%, black);
}
#low-snare:hover,
#high-snare:hover {
  border: 3px solid red;
}

#kick-drum,
#bass-drum {
  border: 3px solid sienna;
  color: white;
  background: radial-gradient(circle at center, black 60%, white 75%);
}
#kick-drum:hover,
#bass-drum:hover {
  border: 3px solid red;
}

.active-drumhead {
  transition: transform 0.15s ease-out, border 0.15s ease-in-out;
  transform: scale(1.08);
  border: 3px solid red;
  transform: scale(0.92);
  border: 3px solid red;
}

.active-drumhead {
  animation: drumhead-animation 0.2s ease-in-out;
}

@keyframes drumhead-animation {
  25% {
    transform: scale(1.08);
    border: 3px solid red;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.92);
  }
  100% {
    transform: scale(1);
  }
}