body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 100% Helvetica, sans-serif;
  color: #333;
}

p {
  color: red;
}

#drum-machine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#drum-machine #display {
  padding: 1rem;
  font-size: 1.5rem;
}

.drum-pad-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 20rem;
}
.drum-pad-container .drum-pad {
  position: relative;
  width: 2rem;
  margin: 0.2rem;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  background: grey;
  text-align: center;
  font-size: 2rem;
  transition: transform 0.15s ease-out, border 0.15s ease-in-out;
}
.drum-pad-container .drum-pad:hover, .drum-pad-container .drum-pad:active, .drum-pad-container .drum-pad:focus {
  cursor: pointer;
  transform: scale(1.05);
  border: 3px solid red;
}
.drum-pad-container .clip {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 2rem;
  height: 100%;
}